In [44]:
import numpy as np
import pandas as pd

In [5]:
Xtrain = pd.read_csv('Xtrain.csv')
Ytrain = pd.read_csv('Ytrain.csv')

In [6]:
Xtrain.head()

,Id,Name,City,State,Zip,Bank,BankState,NAICS,ApprovalDate,ApprovalFY,...,RetainedJob,FranchiseCode,UrbanRural,RevLineCr,LowDoc,DisbursementDate,DisbursementGross,BalanceGross,GrAppv,SBA_Appv
0,0,"NPE Realty, LLC",Pembroke Pines,FL,33027,"TD BANK, NATIONAL ASSOCIATION",DE,334516,16-Apr-10,2010,...,0,0,1,N,N,1-May-10,"$2,000,000.00",$0.00,"$2,000,000.00","$1,500,000.00"
1,1,"KEVCO CONSTRUCTION, LLC",SANDY,UT,84094,ZIONS FIRST NATIONAL BANK,UT,236115,30-Jan-10,2010,...,3,0,1,N,N,1-Feb-10,"$17,000.00",$0.00,"$17,000.00","$17,000.00"
2,2,EAST L A SHOE REPAIR,LOS ANGELES,CA,90022,BANK OF AMERICA NATL ASSOC,NC,811430,29-Jul-02,2002,...,1,1,1,Y,N,31-Aug-02,"$17,000.00",$0.00,"$17,000.00","$8,500.00"
3,3,"RUSSLER, DANIEL C, MD",LODI,WI,53555,ASSOCIATED BANK NATL ASSOC,WI,0,10-Jun-94,1994,...,0,1,0,N,N,31-Jul-94,"$137,000.00",$0.00,"$137,000.00","$123,300.00"
4,4,AFFORDABLE FAMILY DENISTRY LLC,LEBANON,MO,65536,COMMERCE BANK,MO,621210,6-Feb-06,2006,...,2,1,1,T,N,31-Mar-06,"$46,665.00",$0.00,"$25,000.00","$12,500.00"

In [7]:
Ytrain.head()

   Id  ChargeOff
0   0          0
1   1          1
2   2          0
3   3          0
4   4          0

In [60]:
def currency_to_decimal(amount):
    return int(''.join(amount[1:-4].split(',')))

In [18]:
Ytrain['ChargeOff'].iloc[Xtrain[Xtrain['GrAppv']==Xtrain['SBA_Appv']]['Id'].tolist()].sum()

119

In [58]:
len(Xtrain[Xtrain['GrAppv']==Xtrain['SBA_Appv']])

2430

In [62]:
len(Ytrain[Ytrain['ChargeOff']==0])/len(Ytrain)

0.50304